flow.json
[{"id":"945ca64e.e91228","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3fbb8e40.8c3142","type":"inject","z":"945ca64e.e91228","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":140,"wires":[["da6472a3.e08a3"]]},{"id":"da6472a3.e08a3","type":"debug","z":"945ca64e.e91228","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":140,"wires":[]},{"id":"2faac772.82e2d8","type":"inject","z":"945ca64e.e91228","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":260,"wires":[["50f82ed1.6885d"]]},{"id":"50f82ed1.6885d","type":"debug","z":"945ca64e.e91228","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":260,"wires":[]}]